*.csv
__pycache__/
requirements.txt
Flask_app.zip
*.pkl
static/images/EYLogoblack.png
static/images/EY_1920.png
static/images/EY_Banner.jpg
static/images/EY_big.jpg
static/images/Ey_Small_Logo.png
static/images/Ey_banner2.jpg
static/images/banner2.jpg
static/images/ey-logo.gif