
{% extends "base.html" %}
{% block content %}
<section style="background-color:white">

<div class="jumbotron" style="height:100vh;">
  <h1 class="display-4">Welcome</h1>
  <br>
  <p class="lead">Welcome to the automated invoice classification tool.</p>
  <p class="lead">This tool is designed to automatically classify invoices based on a number of predefined fields and return a single classification for each invoice.</p>
  <p class="lead">Data can be manually entered, uploaded from a flat file (e.g. csv) or directly from a database.</p>
</div>
</section>
{% endblock %}
